#############################################
#
# browser configuration file
#
# base configuration for all applications
#
#############################################

# WORKING_MEMORY: amount of memory allocated by netfront in megabytes (4)
WORKING_MEMORY=16

# SET_VIEWPORT: browser layer is cropped to active window area if TRUE (FALSE)
SET_VIEWPORT=TRUE

# LAYER_WIDTH: width of browser layer shared by all windows (800)
# LAYER_HEIGHT: height of browser layer shared by all windows (480)
LAYER_WIDTH=800
LAYER_HEIGHT=480

# EMPTY_WINDOW_URL: url for content of empty window ()
EMPTY_WINDOW_URL=file:///etc/browser/empty.html

# There may be <n> blocks of FONT_FAMILY_x, FONT_STYLE_x and FONT_PATH_x
# where <x> ranges from 0 to <n>-1
# Each block defines a font by a given path for the specified font-family
# and the specified style
# FONT_FAMILY_x: font-family ()
# FONT_STYLE_x: font-style NORMAL|BOLD|ITALIC (NORMAL)
# FONT_PATH_x: font-pathname (may point to symlink) ()
FONT_FAMILY_0=default
FONT_STYLE_0=NORMAL
FONT_PATH_0=/java/resources/LT_Univers440_88perc.ttf

FONT_FAMILY_1=default
FONT_STYLE_1=BOLD
FONT_PATH_1=/java/resources/LT_Univers540_96_1perc.ttf

# PROGRESSIVE_RENDERING: true if rendering while layout is still in progress (false)
#                        which may slow down the display process and consumes also more cpu time
PROGRESSIVE_RENDERING=false

# SCROLLBAR_HOR_SIZE: width of horizontal scrollbar in px
# SCROLLBAR_HOR_MARGIN_LEFT: left margin of horizontal scrollbar mover
# SCROLLBAR_HOR_MARGIN_RIGHT: right margin of horizontal scrollbar mover
# SCROLLBAR_HOR_MARGIN_TOP: top margin of horizontal scrollbar mover
# SCROLLBAR_HOR_MARGIN_BOTTOM: bottom margin of horizontal scrollbar mover
SCROLLBAR_HOR_SIZE=12
SCROLLBAR_HOR_MARGIN_LEFT=10
SCROLLBAR_HOR_MARGIN_RIGHT=10
SCROLLBAR_HOR_MARGIN_TOP=3
SCROLLBAR_HOR_MARGIN_BOTTOM=2
SCROLLBAR_HOR_HEAD_SIZE=10
SCROLLBAR_HOR_TAIL_SIZE=10
SCROLLBAR_HOR_BODY_MIN_SIZE=34

# SCROLLBAR_VER_SIZE: height of vertical scrollbar in px
# SCROLLBAR_VER_MARGIN_LEFT: left margin of vertical scrollbar mover
# SCROLLBAR_VER_MARGIN_RIGHT: right margin of vertical scrollbar mover
# SCROLLBAR_VER_MARGIN_TOP: top margin of vertical scrollbar mover
# SCROLLBAR_VER_MARGIN_BOTTOM: bottom margin of vertical scrollbar mover
SCROLLBAR_VER_SIZE=         11
SCROLLBAR_VER_MARGIN_LEFT=    0
SCROLLBAR_VER_MARGIN_RIGHT=5
SCROLLBAR_VER_MARGIN_TOP=    0
SCROLLBAR_VER_MARGIN_BOTTOM= 0
SCROLLBAR_VER_HEAD_SIZE=    10
SCROLLBAR_VER_TAIL_SIZE=    10
SCROLLBAR_VER_BODY_MIN_SIZE=34

# SCROLL_DX_FACTOR: scrolling x-increment/decrement gets multiplied with this after <SCROLL_STEPS> steps (3)
# SCROLL_DY_FACTOR: same as SCROLL_DX_FACTOR for vertical direction (3)
# SCROLL_STEPS: number of times content gets scrolled by dx/dy pixels before dx/dy is increased (3)
# SCROLL_DX_MIN: amount of pixels, scrolling in horizontical direction starts with (1)
# SCROLL_DY_MIN: the same as SCROLL_DY_MIN(1)
# SCROLL_DX_MAX: maximum scroll rate, counterpart to SCROLL_DX_MIN (50)
# SCROLL_DY_MAX: the same as SCROLL_DX_MAX (50)
# SCROLL_TIMER_INTERVAL: interval between scrolling events in ms (100)
SCROLL_DX_FACTOR=3
SCROLL_DX_MIN=10
SCROLL_DX_MAX=50
SCROLL_DY_FACTOR=3
SCROLL_DY_MIN=10
SCROLL_DY_MAX=50
SCROLL_STEPS=5
SCROLL_TIMER_INTERVAL=100

# DEFAULT_CSS: string containing default-css for pages ()
# DEFAULT_CSS=body{background-color:white;}
DEFAULT_CSS=body{background-color:black; color:white;} a:link{color:white} 

# ANTI_ALIAS: true if antialiasing is activated 
ANTI_ALIAS=true

# EFI configuration
EFI_ENABLED=true
EFI_PREFIX=action

# USE_DATA_CONNECTION: Defines that DevCtrl asks via requestCanUseDataConnection() if a new page shall be loaded (FALSE)
#                      PresCtrl starts data connection setup only on requestCanUseDataConnection()
#                      Must be defined in common.cfg because this is a browser preference which is set only once (by first started browser application)

USE_DATA_CONNECTION=false

